[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GTFShift"]
	path = GTFShift
	url = https://github.com/u-shift/gtfshift
[submodule "MobilityDataPT"]
	path = MobilityDataPT
	url = https://github.com/u-shift/mobilitydatapt
